.one{
    background-colour:black;
    display:flex;
   justify-content:center;
   align-text:center;
   flex-direction:column;
   justify-content:space-around;
    height:300px;
    width:300px;
   border:3px solid black;
   
   
   align-items: center;
   
   

    
   
  
   
}
#hi{
    height:50px;
    width:20px;
    background-size:cover;
}

#two{
    padding:9px 0px 7px 8px;
    background-colour:#121212;
    height:50px;
    align-item:center;
    justify-content:center;
}

#three{
    padding:9px 0px 8px 7px;
    background-colour:#121212;
    height:50px;
}

#four{
    margin:8px 40px;
    backround-colour:blue;
    text-colour:white;
    height:50px;
}

#six{
    text-colour:#0095f6;
    height:50px;
}

#seven{
    text-colour:#fafafa;
height:50px;
}

.two{
     background-colour:black;
    display:flex;
   justify-content:center;
   align-text:center;
   
   
   justify-content:space-around;
    height:50px;
    width:300px;
   border:3px solid black;
   radius:10px;
   align-items: center;
    
    
}

#eight{
    text-decoration:none;
}
body{
    
    align-items:center;
    display:flex;
    justify-content:center;
    padding:24px;
    flex-direction:column;
}
div{
    align-content:center;
    justify-content:center;
   
    
}
